<section class="centered-section4 contact">
  <h2 class="contact-title">CONTACTO</h2>
  <form class="contact-form" action="mailto:sejagarrido@gmail.com" method="post" enctype="text/plain">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="message">Mensaje:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
    </div>
    <button type="submit">Enviar</button>
  </form>
</section>
