body {
  background-color: #111;
  font-family: "Open Sans", sans-serif;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
  overflow-x: hidden;
}

.centered-section1 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 20px;
margin-top: 0; /* No margin at the top to align with header */
height: 100vh; /* Full viewport height */
opacity: 1; /* Set to 1 to make it visible */
transform: translateY(0); /* Reset transform to 0 */
transition: transform 0.5s ease, opacity 0.5s ease;
}

.responsive-img {
width: 100%;
max-width: 200px;
height: auto;
margin: 10px;
margin-bottom: 50px; /* Add margin-bottom for spacing */
border-radius: 10px;
transition: transform 0.3s ease;
}

.responsive-img:hover {
transform: scale(1.05);
}

.split-text {
font-family: "wild_worldbold";
font-size: var(--title-size);
line-height: 0.67;
margin: 0;
color: #ffffff;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: white;
margin-bottom: 2vw;
opacity: 1; /* Set to 1 to make it visible */
transform: translateY(0); /* Reset transform to 0 */
transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 768px) {
.split-text {
  font-size: 3.5vw;
}
}

@media (max-width: 480px) {
.split-text {
  font-size: 10vw;
  word-spacing: 5vw;
  font-weight: 100; /* Hacer la fuente más delgada */
  line-height: 1.2; /* Ajustar el espacio entre líneas para añadir espacio superior e inferior */
  -webkit-text-stroke-width: 0.5px; /* Reducir el grosor del contorno */
}
}
