<section class="centered-section4 works">
  <h2 class="works-title">Trabajos</h2>
  <div class="works-list">
    <div class="work-item" style="--order: 1;">
      <a href="https://deliciasymanjarex.com/" target="_blank">
        <img src="../../../assets/deliciasymajarex.png" alt="Web Design">
        <p>Delicias & ManjarEx</p>
      </a>
    </div>
    <div class="work-item" style="--order: 2;">
      <a href="https://github.com/sergio-grr" target="_blank">
        <img src="../../../assets/github.png" alt="Github">
        <p>Mi Github</p>
      </a>
    </div>
    <div class="work-item" style="--order: 3;">
      <a href="https://sergio-grr.github.io/ElLegadoDelTiempo/" target="_blank">
        <img src="../../../assets/juego.png" alt="TFG">
        <p>TFG</p>
      </a>
    </div>
  </div>
</section>
