<section class="centered-section3 tecnologias">
  <h2 class="tecnologias-title">Tecnologías</h2>
  <div class="tecnologias-list">
    <div class="tecnologia-item">
      <img src="../../../assets/icons/html5.png" alt="HTML">
    </div>
    <div class="tecnologia-item">
      <img src="../../../assets/icons/css.png" alt="CSS">
    </div>
    <div class="tecnologia-item">
      <img src="../../../assets/icons/javascript.png" alt="JavaScript">
    </div>
    <div class="tecnologia-item">
      <img src="../../../assets/icons/typescript.png" alt="TypeScript">
    </div>
    <div class="tecnologia-item">
      <img src="../../../assets/icons/angular.png" alt="Angular">
    </div>
    <div class="tecnologia-item">
      <img src="../../../assets/icons/ux.png" alt="UX Design">
    </div>
    <div class="tecnologia-item">
      <img src="../../../assets/icons/responsive.png" alt="Responsive Design">
    </div>
  </div>
</section>
