<app-header class="section"></app-header>
<div class="neon-line" id="neon-line1"></div>
<app-section1 class="section"></app-section1>
<div class="neon-line" id="neon-line2"></div>
<app-about class="section"></app-about>
<div class="neon-line" id="neon-line3"></div>
<app-tecnologias class="section"></app-tecnologias>
<div class="neon-line" id="neon-line4"></div>
<app-works class="section"></app-works>
<div class="neon-line" id="neon-line5"></div>
<app-other class="section"></app-other>
<div class="neon-line" id="neon-line5"></div>
<app-contact class="section"></app-contact>
<div class="separator"></div>
<app-footer class="section no-scroll-trigger"></app-footer>
