<section class="centered-section other">
  <h2 class="other-title">Otros trabajos</h2>
  <div class="gallery">
    <span>
      <img src="assets/shirt/calavera.png" alt="camiseta calavera">
    </span>
    <span>
      <img src="assets/shirt/lagertha.png" alt="camiseta lagertha">
    </span>
    <span>
      <img src="assets/shirt/4k.png" alt="camiseta 4k">
    </span>
    <span>
      <img src="assets/shirt/masters.png" alt="camiseta masters">
    </span>
  </div>
  <p class="description">
    He creado estos diseños de camisetas utilizando diversas herramientas de diseño digital, explorando diferentes estilos y técnicas.
  </p>
</section>
